extends layout

block content
  - const cForm = [];
  - const cRow = [];
  - const cInput = [];

  mixin formInput(labelText, type, inputId)
    .form-group
      label(for=`${inputId}`)= labelText
      input.form-control(id=`${inputId}`)

  if page && page.title
    h2= page.title
    section.section-firstclass.border.rounded
      form(method='POST')
        .form-group
          label(for='name-input') Name
          input.form-control(id='name-input' type='text' value=`${ visitor_info && visitor_info.name ? visitor_info.name : '' }`)
        .form-group
          label(for='subject-input') Subject
          input.form-control(id='subject-input' type='text')
        .form-group
          label(for='msg-input') Message
          textArea.form-control(id='msg-input' rows='3')
        button.btn.btn-primary.btn-block(type='submit') Submit

    section.section-firstclass.border.rounded
      if comments

      else
        p No comments yet.  You can be the first one!
