body {
  min-width: 560px;
  font-size: 1.2em;
}

a {
  color: #00B7FF;
}

a:hover {
  text-decoration: none;
}

ul {
  padding-left: 2.4em;
}

li {
  list-style: none;
}


/* create dash before list item */
li::before {
  content: '-';
  display: inline-block;
  padding-right: .4em;
}


/* HEADER */
nav {
  background: url('/images/papers.co-my86-camping-night-star-galaxy-milky-sky-dark-space-bw-dark-29-wallpaper.jpg') no-repeat;
  background-position: bottom;
  background-size: cover;
}

.navbar-brand {
  font-size: 2em;
  font-variant: small-caps;
  font-weight: bold;
}

.navbar-slogan {
  margin-top: -.8em;
}


/* CONCEPTS BAR */
.concepts * {
  font-size: .8rem;
  margin: 0;
}


/* MAIN CONTENT */
.main {
  min-height: 60vh;
}


/* HOMEPAGE */
.concepts-container * {
  margin: 0
}


/* ABOUT */
.section-firstclass {
  padding: 1em;
  margin-top: .6em;
  margin-bottom: .6em;
}
